body {
    color: lightyellow;
    font-family: monospace;
    background-image: url("love.svg");
}
.love {
    display: block;
    background-color: #6495edfa;
    border-radius: 13px;
    width: 777px;
    margin: auto;
    padding: 13px;
    border:11px solid pink;
}
.red {
    background-color: cornflowerblue;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    display: block;
}

.bg-emoji {
    border-radius:100px;
    padding: 77px 7px; 
}

.modal-content {
    background-color: #6495edfa;
}